



/* Shared button style */
ion-button {
    --background: #ffff00; 
    color: black;         
    font-weight: bold;      
  }
  
  /* Shared toolbar background */
  ion-toolbar {
    --background: #e70e32; 
  }
  
  /* Shared content background */
  ion-content {
    
    --background: #4b2e2a; /* Dark brown background */
  }
  
  
  .custom-input {
    
    padding: 12px !important;
    border-radius: 4px
    
  }
  .custom-label {
   
   padding: 4px !important;               /* Add padding inside the input */
          /
 }
  /* Styling the native item inside ion-item */
  ion-item::part(native) {
    border-radius: 4px;
    --padding-start: 16px !important;      /* Space before the text starts */
    --padding-end: 16px !important;        /* Space after the text ends */
    margin-bottom: 20px !important;        /* Space between items */
    background-color: rgb(234, 18, 176) !important; /* Ensure the item background is transparent */
  }
  .custom-list {
    background-color: #7c0971 !important; /* Light grey background for the entire list */
  }
  