

/* Add in theme/variables.scss or theme/global.scss */

/* Shared button style */
ion-button {
    --background: #ffff00; /* Yellow background for buttons */
    color: black;          /* Black text for all buttons */
    font-weight: bold;      /* Bold text for buttons */
  }
  
  /* Shared toolbar background */
  ion-toolbar {
    --background: #e70e32; /* Pink toolbar background */
  }
  
  /* Shared content background */
  ion-content {
    
    --background: #4b2e2a; /* Dark brown background */
  }
  /* i cant use those styles for some reason */
  ion-label::part(text) {
    font-size: 16px !important;
    color: white !important;
    padding-bottom: 12px !important;
  }
  
  ion-input::part(native) {
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    line-height: 24px !important;
    font-size: 16px !important;
    color: black !important;
  }
  .custom-input {
     /* Light grey background for input */
    padding: 15px !important;               /* Add padding inside the input */
           /
  }
  .custom-label {
    /* Light grey background for input */
   padding: 4px !important;               /* Add padding inside the input */
          /
 }
  /* Styling the native item inside ion-item */
  ion-item::part(native) {
    
    --padding-start: 16px !important;      /* Space before the text starts */
    --padding-end: 16px !important;        /* Space after the text ends */
    margin-bottom: 20px !important;        /* Space between items */
    background-color: rgb(234, 18, 176) !important; /* Ensure the item background is transparent */
  }
  .custom-list {
    background-color: #7c0971 !important; /* Light grey background for the entire list */
  }
  